%div.contextual
  = link_to_if_authorized(l(:label_conditions_new), { action: "new", project_id: @project }, class: "icon icon-add")

%h2
  = l(:label_redmine_nikoca_re_full)
%div.backnumber
  - if (@backnumber == 0)
    = link_to("<< " + l(:to_old), project_niko_faces_backnumber_path(@project, 1))
  - else
    = link_to("<<" + l(:to_old),  project_niko_faces_backnumber_path(@project, @backnumber + 1))
    = link_to(l(:to_new) + " >>", project_niko_faces_backnumber_path(@project, @backnumber - 1))

= render(partial: "niko_faces/calender")
