%div.contextual
  = link_to_if_authorized(l(:label_conditions_new), { action: "new", project_id: @project }, class: "icon icon-add")
%h2
  = l(:label_redmine_nikoca_re_full)

%span.pagination
  %ul.pages
    - if @mode == "calendar"
      %li.previous.page
        = link_to('« ' + l(:to_old), project_niko_faces_backnumber_path(@project, 1))
      %li.next.page{ style: "margin-left: -5px;" }
        = link_to("本日", project_niko_faces_mode_path(@project, "today"))
    - else
      %li.previous.page
        = link_to("カレンダー表示", project_niko_faces_mode_path(@project, "calendar"))

- if @mode == "calendar"
  = render(partial: "niko_faces/calender")
- else
  = render(partial: "niko_faces/today")